.container {
  margin-top: 3rem;

  h1 {
    text-align: center;
    font-size: 2rem;
  }

  form {

    .form-group {
      .invisible {
        visibility: hidden;
        height: 0;
      }
      
      .visible {
        visibility: visible;
      }

    }
    #submitButton {
      margin-top: 1.25rem;
    }
  }

  table {
      tr {
        #myCheckbox {
          margin-left: 30px;
        }

        td {
          .completed {
            text-decoration: line-through;
          }
        }
      }
  }
}
